body {
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
  font-size:small;
  width: 600px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.row2 input[type="text"] {
  flex: 1;
}

input[type="text"] {
  background-color: #eeeeee;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  height: 40px;
}

input::placeholder {
  font-family: Poppins, sans-serif;
  font-size: small;
  padding-left: 10px;
  opacity: 0.5;
}

.msg {
  background-color: #eeeeee;
  height: 100px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  border: white;
}

.msg::placeholder {
  font-family: Poppins, sans-serif;
  font-size: small;
  padding-left: 10px;
  padding-top: 10px;
  opacity: 0.5;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
label {
  font-family: Poppins, sans-serif;
  font-size: small;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  top: -5px;
}

button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: small;
}