
section{
    text-align: left;
    display: flex;
    width: 980px;

}

div{
    float: left;
}

header{
    width: 980px;
    height: 29px;
    background-color: rgba(100, 148, 237, 0.541);
}
.box_1{
    width: 280px;
    height: 102px;
    background-color:rgba(255, 145, 255, 0.5);
}

.box_2{
    flex: 1;
    height: 100%;
    height: 102px;
    background-color: rgb(0, 255, 255, 0.5);
}

.box_3{
    flex: 1;
    height: 135px;
    background-color: rgba(86, 211, 86, 0.541);
}
.main{
    flex-direction:row;
    height: 130px;
}
.box_4{
    width: 350px;
    height: auto;
    background-color: rgba(255, 207, 149, 0.664);
}
.submain{
    flex: 1;
    flex-direction: column;
}
.box_5{
    width: auto;
    flex: 1;
    float: right;
    background-color: rgba(0, 0, 0, 0.13);
}
.box_6{
    flex: 1;
    float: right;
    background-color: rgba(255, 34, 126, 0.301);
    
}
.bottom{
    background-color: rgba(145, 99, 189, 0.5);
    width: 980px;
    height: 296px;
}

.low1{
    width: 350px;
    background-color: rgba(253, 118, 208, 0.322);
}
.low2{
    width: 200px;
    background-color: rgba(255, 238, 0, 0.637);
}
.low3{
    width: 200px;
    background-color: rgba(255, 0, 0, 0.404);
}
.low4{
    width: 230px;
}